.top10{
            margin-top: 10px;
        }
        .top15{
            margin-top: 15px;
        }
        .top20{
            margin-top: 20px;
        }
        .top25{
            margin-top: 25px;
        }
        .margin_left{
            margin-left: 25px;
        }
        .margin_left_15{
            margin-left: 15px;
        }
        
        .margin_left_25{
            margin-left: 25px;
        }
        .pad_left {
            padding-left: 15px;
        }
        .borde{
            border: solid 1px red;
        }
        .borde_ccc{
            border: solid 1px #ccc;
        }

        .span_rojo{
            color: red;
        }

        /*Color spinner para esperar respuesta ajax*/
        .fa-spinner:before {
            color: black;
        }
        
        /* css para los input=file personalizados */
        .file-select {
        position: relative;
        display: inline-block;
        }

        .file-select::before {
        background-color: #5678EF;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        content: 'Seleccionar foto';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        }

        .file-select input[type="file"] {
        opacity: 0;
        width: 200px;
        height: 32px;
        display: inline-block;
        }

        #src-file1::before {
        content: 'Seleccionar foto';
        }

        .btn_borrar_empleado1{
            width: 24px;
            height: 32px;  
        }
        .icon_edit{
            padding-top: 7px !important;
        }

        .input_rol{
            transform: scale(1.2);
        }
        .cancel_button{
            background-color: red;
            color: red;
            padding: 15px 25px;
            text-decoration: none;
        }